<mat-sidenav-container style="background-color: rgba(255,255,255,0);">
    <mat-sidenav #sidenav mode="side" [opened]="sidebarToggleService.isOpen" class="sidebar">
        <div>
            <ul>
                <li *ngFor="let m of this.getMenuAdmin(false)" routerLink="{{m.link}}" (click)="sidebarToggleService.toggleSidebar();">
                    <a style="font-weight: bold;">{{m.lib}}</a>
                </li>
            </ul>
        </div>
    </mat-sidenav>

    <mat-sidenav-content style="padding: 15px;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>