<h3>Nouveau devoir :</h3>
<div style="width: 50%; margin-left: 25%;">
    <br>
    <form ngForm (submit)="onSubmit($event);assignmentForm.reset();"
     #assignmentForm
     class="form"
    >
    <mat-form-field>
        <mat-label> Nom : </mat-label>
        <input matInput
            placeholder="Nom du devoir"
            [(ngModel)]="nomDevoir"
            name="nom"
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choisir une date</mat-label>
        <input matInput [matDatepicker]="picker"
            [(ngModel)]="dateDeRendu"
            name="date"
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Matière : </mat-label>
        <select matNativeControl
               [(ngModel)]="matiere_id"
               name="matiere_id"
        >
            <option *ngFor="let m of this.subjectService.getSubjects()" value="{{m.id}}">{{m.libelle}}</option>
        </select>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Enseignant : </mat-label>
        <select matNativeControl
                [(ngModel)]="enseignant_id"
                name="enseignant_id"
        >
            <option *ngFor="let t of this.teacherService.getTeachers()" value="{{t.id}}">{{t.nom + ' ' + t.prenom}}</option>
        </select>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Auteur (étudiant) : </mat-label>
        <select matNativeControl
                [(ngModel)]="auteur_id"
                name="auteur_id"
        >
            <option *ngFor="let s of this.studentService.getStudents()" value="{{s.id}}">{{s.nom + ' ' + s.prenom}}</option>
        </select>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Note : </mat-label>
        <input matInput type="number"
               [(ngModel)]="note"
               name="note"
               min="0"
               max="20"
        >
        <mat-hint>de 0 à 20</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Commentaire : </mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="comment"
                  name="comment"></textarea>
    </mat-form-field>
    <br>
    <button mat-stroked-button color="primary">Ajouter le devoir</button>
    </form>
</div>