<div style="text-align: center;">
    <h1>Action rapides</h1>
    <a mat-raised-button mat-button routerLink="/list-assignment">Liste des devoirs</a>
    &nbsp;
    <a mat-raised-button mat-button routerLink="/add-assignment">Ajouter un devoir</a>
</div>
<div style="text-align: center; width: 100%; padding-top: 5vh;">
    <h1>Tableau de bord</h1>
    <h2>Nombre de devoirs total</h2>
    <span class="card">
        <h3>Nombre de devoirs</h3>
        <hr>
        <div class="card-content">
            <h2>{{getNombreAssignments()}}</h2>
        </div>
    </span>
    <span class="card">
        <h3 style="color: red;">Devoirs non rendus</h3>
        <hr>
        <div class="card-content">
            <h2>{{getNombreAssignmentsNonRendus()}}</h2>
        </div>
    </span>
    <span class="card">
        <h3 style="color: green">Devoirs rendus</h3>
        <hr>
        <div class="card-content">
            <h2>{{getNombreAssignmentsRendus()}}</h2>
        </div>
    </span>
    <hr class="separator">
    <h2>Nombre de devoirs par matière</h2>
    <span class="card" *ngFor="let subject of getSubjects()">
        <h3>Devoirs de la matière {{subject.libelle}}</h3>
        <hr>
        <div class="card-content">
            <h2>{{getNombreAssignmentsBySubject(subject.id)}}</h2>
        </div>
    </span>
    <hr class="separator">
    <h2>Nombre de devoirs par enseignant</h2>
    <span class="card" *ngFor="let teacher of getTeachers()">
        <h3>Devoirs de l'enseignant {{teacher.prenom + ' ' + teacher.nom}}</h3>
        <hr>
        <div class="card-content">
            <h2>{{getNombreAssignmentsByTeacher(teacher.id)}}</h2>
        </div>
    </span>
</div>